<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        {{
            <div class="rendered-form">
                <div class="">
                    <h1 access="false" id="control-6693699">Marvel / DC Character Fe</h1></div>
                <div class="formbuilder-radio-group form-group field-id">
                    <label for="id" class="formbuilder-radio-group-label">ID<span class="formbuilder-required">*</span></label>
                    <div class="radio-group">
                        <div class="formbuilder-radio">
                            <input name="id" access="false" id="id-0" required="required" aria-required="true" value="SI" type="radio">
                            <label for="id-0">Secret Identity</label>
                        </div>
                        <div class="formbuilder-radio">
                            <input name="id" access="false" id="id-1" required="required" aria-required="true" value="PI" type="radio">
                            <label for="id-1">Public Identity</label>
                        </div>
                        <div class="formbuilder-radio">
                            <input name="id" access="false" id="id-2" required="required" aria-required="true" value="NDI" type="radio" checked="checked">
                            <label for="id-2">No Dual Identity</label>
                        </div>
                    </div>
                </div>
                <div class="formbuilder-radio-group form-group field-hair">
                    <label for="hair" class="formbuilder-radio-group-label">Hair<span class="formbuilder-required">*</span></label>
                    <div class="radio-group">
                        <div class="formbuilder-radio-inline">
                            <input name="hair" access="false" id="hair-0" required="required" aria-required="true" value="aubh" type="radio">
                            <label for="hair-0">Auburn Hair</label>
                        </div>
                        <div class="formbuilder-radio-inline">
                            <input name="hair" access="false" id="hair-1" required="required" aria-required="true" value="bald" type="radio">
                            <label for="hair-1">Bald</label>
                        </div>
                        <div class="formbuilder-radio-inline">
                            <input name="hair" access="false" id="hair-2" required="required" aria-required="true" value="blah" type="radio" checked="checked">
                            <label for="hair-2">Black Hair</label>
                        </div>
                        <div class="formbuilder-radio-inline">
                            <input name="hair" access="false" id="hair-3" required="required" aria-required="true" value="blueh" type="radio">
                            <label for="hair-3">Blue Hair</label>
                        </div>
                        <div class="formbuilder-radio-inline">
                            <input name="hair" access="false" id="hair-4" required="required" aria-required="true" value="bloh" type="radio">
                            <label for="hair-4">Blond Hair</label>
                        </div>
                        <div class="formbuilder-radio-inline">
                            <input name="hair" access="false" id="hair-5" required="required" aria-required="true" value="bronh" type="radio">
                            <label for="hair-5">Bronze Hair</label>
                        </div>
                        <div class="formbuilder-radio-inline">
                            <input name="hair" access="false" id="hair-6" required="required" aria-required="true" value="broh" type="radio">
                            <label for="hair-6">Brown Hair</label>
                        </div>
                        <div class="formbuilder-radio-inline">
                            <input name="hair" access="false" id="hair-7" required="required" aria-required="true" value="golh" type="radio">
                            <label for="hair-7">Gold Hair</label>
                        </div>
                        <div class="formbuilder-radio-inline">
                            <input name="hair" access="false" id="hair-8" required="required" aria-required="true" value="greh" type="radio">
                            <label for="hair-8">Green Hair</label>
                        </div>
                        <div class="formbuilder-radio-inline">
                            <input name="hair" access="false" id="hair-9" required="required" aria-required="true" value="greh" type="radio">
                            <label for="hair-9">Grey Hair</label>
                        </div>
                        <div class="formbuilder-radio-inline">
                            <input name="hair" access="false" id="hair-10" required="required" aria-required="true" value="lbh" type="radio">
                            <label for="hair-10">Light Brown Hair</label>
                        </div>
                        <div class="formbuilder-radio-inline">
                            <input name="hair" access="false" id="hair-11" required="required" aria-required="true" value="magh" type="radio">
                            <label for="hair-11">Magenta Hair</label>
                        </div>
                        <div class="formbuilder-radio-inline">
                            <input name="hair" access="false" id="hair-12" required="required" aria-required="true" value="nohair" type="radio">
                            <label for="hair-12">No Hair</label>
                        </div>
                        <div class="formbuilder-radio-inline">
                            <input name="hair" access="false" id="hair-13" required="required" aria-required="true" value="orah" type="radio">
                            <label for="hair-13">Orange Hair</label>
                        </div>
                        <div class="formbuilder-radio-inline">
                            <input name="hair" access="false" id="hair-14" required="required" aria-required="true" value="ogbh" type="radio">
                            <label for="hair-14">Orange-brown Hair</label>
                        </div>
                        <div class="formbuilder-radio-inline">
                            <input name="hair" access="false" id="hair-15" required="required" aria-required="true" value="pinh" type="radio">
                            <label for="hair-15">Pink Hair</label>
                        </div>
                        <div class="formbuilder-radio-inline">
                            <input name="hair" access="false" id="hair-16" required="required" aria-required="true" value="plabloh" type="radio">
                            <label for="hair-16">Platinum Blond Hair</label>
                        </div>
                        <div class="formbuilder-radio-inline">
                            <input name="hair" access="false" id="hair-17" required="required" aria-required="true" value="purh" type="radio">
                            <label for="hair-17">Purple Hair</label>
                        </div>
                        <div class="formbuilder-radio-inline">
                            <input name="hair" access="false" id="hair-18" required="required" aria-required="true" value="redh" type="radio">
                            <label for="hair-18">Red Hair</label>
                        </div>
                        <div class="formbuilder-radio-inline">
                            <input name="hair" access="false" id="hair-19" required="required" aria-required="true" value="reblh" type="radio">
                            <label for="hair-19">Reddish Blond Hair</label>
                        </div>
                        <div class="formbuilder-radio-inline">
                            <input name="hair" access="false" id="hair-20" required="required" aria-required="true" value="rebrh" type="radio">
                            <label for="hair-20">Reddish Brown Hair</label>
                        </div>
                        <div class="formbuilder-radio-inline">
                            <input name="hair" access="false" id="hair-21" required="required" aria-required="true" value="silh" type="radio">
                            <label for="hair-21">Silver Hair</label>
                        </div>
                        <div class="formbuilder-radio-inline">
                            <input name="hair" access="false" id="hair-22" required="required" aria-required="true" value="strbh" type="radio">
                            <label for="hair-22">Strawberry Blond Hair</label>
                        </div>
                        <div class="formbuilder-radio-inline">
                            <input name="hair" access="false" id="hair-23" required="required" aria-required="true" value="varh" type="radio">
                            <label for="hair-23">Variable Hair</label>
                        </div>
                        <div class="formbuilder-radio-inline">
                            <input name="hair" access="false" id="hair-24" required="required" aria-required="true" value="vioh" type="radio">
                            <label for="hair-24">Violet Hair</label>
                        </div>
                        <div class="formbuilder-radio-inline">
                            <input name="hair" access="false" id="hair-25" required="required" aria-required="true" value="whih" type="radio">
                            <label for="hair-25">White Hair</label>
                        </div>
                        <div class="formbuilder-radio-inline">
                            <input name="hair" access="false" id="hair-26" required="required" aria-required="true" value="yelh" type="radio">
                            <label for="hair-26">Yellow Hair</label>
                        </div>
                    </div>
                </div>
                <div class="formbuilder-radio-group form-group field-radio-group-1655576167155">
                    <label for="radio-group-1655576167155" class="formbuilder-radio-group-label">Sex<span class="formbuilder-required">*</span></label>
                    <div class="radio-group">
                        <div class="formbuilder-radio-inline">
                            <input name="radio-group-1655576167155" access="false" id="radio-group-1655576167155-0"     
        }}
    </h1>
</body>
</html>